<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BCLservice.ServiceModel.Service.dbconnection" connectionString="Data Source=(local);Initial Catalog=BCLdatabase;Persist Security Info=True;User ID=bcldbadmin;Password=Htlm!2024;MultipleActiveResultSets=True;Encrypt=False;Application Name=BCLServiceModel"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>